data
earthengine
__pycache__
vesselTracker-env
Images/
Locations/
Bibliography/
Dataset/
Pytorch_tutorials/
mooc_tutorial/
Dataset.Ink
yolov5/
yolov5x.pt
runs/
mooc_example.ipynb
NTNU_project/
Jupyter notebooks/